body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 248, 239);
    color: rgb(75, 75, 75);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 60px; */

}

li {
    /* display: inline; */
    float: left;
}

li a {
    display: block;
    background-color: rgb(75, 75, 75, 0.2);
    border-radius: 4px;
    margin: 16px;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: rgb(75, 75, 75);
    font-weight: bold;
}

li a:hover {
    background-color: rgb(75, 75, 75, 0.3);
}

h1 {
    color: currentColor;
    font-size: 4em;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 20px;
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;    
}

.tile {
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    color: currentColor;
}

.right-border {
    border-right: 0.1em solid currentColor;
}

.bottom-border {
    border-bottom: 0.1em solid currentColor;
}

.strike {
    position: absolute;
    background-color: rgb(233, 145, 30);
}

.strike-row-1 {
    width: 100%;
    height: 4px;
    top: 15%;
}

.strike-row-2 {
    width: 100%;
    height: 4px;
    top: 48%;
}

.strike-row-3 {
    width: 100%;
    height: 4px;
    top: 83%;
}

.strike-col-1 {
    height: 100%;
    width: 4px;
    left: 15%;
}

.strike-col-2 {
    height: 100%;
    width: 4px;
    left: 48%;
}

.strike-col-3 {
    height: 100%;
    width: 4px;
    left: 83%;
}

.strike-diag-1 {
    width: 90%;
    height: 4px;
    top: 49%;
    left: 5%;
    transform: skewY(45deg);
}

.strike-diag-2 {
    width: 90%;
    height: 4px;
    top: 49%;
    left: 5%;
    transform: skewY(-45deg);
}

#game-over-area {
    text-align: center;
    border: currentColor 8px solid;
    margin-top: 50px;
    padding: 50px;
    width: 50%;
}

#game-over-text {
    color: currentColor;
    font-size: 2em;
    margin-top: 0px;
}

#play-again {
    text-decoration: none;
    color: currentColor;
    /* background-color: transparent; */
    border: 2mm ridge rgb(75, 75, 75);
    padding: 10px;
    font-size: 1.5em;
}

#play-again:hover {
    background-color: rgb(75, 75, 75);
    color: black;
    font-weight: bold;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.x-hover:hover::after {
    content: "X";
    opacity: 0.4;
}

.o-hover:hover::after {
    content: "O";
    opacity: 0.4;
}
/* 
#reset-score {
    text-decoration: none;
    color: currentColor;
    border: 1px solid chartreuse;
    border-radius: 50%;
    padding: 10px;
    font-size: 0.5em;
    margin: 25px;
} */

/* #reset-score:hover {
    background-color: chartreuse;
    color: black;
    font-weight: bold;
} */

/* #score-panel {
    text-align: center;
    border: currentColor 1px dashed;
    margin: 50px;
    padding: 25px;
    width: 20%;
}

#score-text {
    display: flex;
    justify-content: space-around;
    margin: 25px;
} */